
<header>

    <div class="header-left">
    <a (click)="navigateTo('')" class="ohblogo">
      <img src="assets/images/ohb_logo_white_dummy.png" alt="Logo" />
    </a>

    <button class="toplevelbutton">Use Cases</button>
    <!-- List that appears below the button -->
    <ul class="selection-list">
      <li (click)="navigateTo('vegetation-service')">Urban Vegetation Service</li>
      <li (click)="navigateTo('heat-service')">Urban Heat Service</li>
    </ul>
    <button class="toplevelbutton">Documentation</button>
    <button class="toplevelbutton">Contact us</button>


    </div>
    <div class="header-right">
      <button class="toplevelbutton">Login</button>
    </div>

</header>
<div class="line"></div>



