<header>

    <div class="header-left">
      <a class="ohblogo" href="https://www.oceanids-project.eu/" target="_blank" rel="noopener noreferrer">
        <img src="./assets/icons/oceanids_logo official.png" alt="ESA Logo" />
      </a>
      <div class="header-title">
        <span>OCEANIDS Coastal Resilience Platform</span>
      </div>
      <!-- <button class="toplevelbutton">Use Cases</button>
      <ul class="selection-list">
        <li (click)="navigateTo('vegetation-service')">Urban Vegetation Service</li>
        <li (click)="navigateTo('heat-service')">Urban Heat Service</li>
      </ul>
      <button class="toplevelbutton">Documentation</button>
      <button class="toplevelbutton">Contact us</button> -->
    </div>
    <div class="header-right">
      <!-- <div style="padding: 10px;"> Add padding around the button
        <button class="toplevelbutton" (click)="openLoginPage()">Login</button>
      </div> -->
    </div>

</header>
<div class="line"></div>



