<div #chartContainer style="width: 100%; height: 100%; overflow: hidden;">
    <span class="chart-title">{{ dataServiceName | capitalAndSpace }}</span>
    <mat-card>
        <p class="description-box" readonly>{{description}}</p>
    </mat-card>
    <div *ngIf="dataServiceName === 'sea_level' || dataServiceName === 'wave_climate'" class="filter-container">
        <mat-button-toggle-group [value]="selectedFilters.frequency" (change)="updateFilter('frequency', $event.value)"
        [hideSingleSelectionIndicator]="true">
            <div class="filter-title">Products</div>
            <mat-button-toggle value="hourly">Hourly</mat-button-toggle>
            <mat-button-toggle value="daily">Daily</mat-button-toggle>
            <mat-button-toggle value="monthly">Monthly</mat-button-toggle>
            <mat-button-toggle value="climatology">Climatology</mat-button-toggle>
            <mat-button-toggle value="extremes">Extremes</mat-button-toggle>
        </mat-button-toggle-group>
        <div *ngIf="dataServiceName === 'wave_climate'" class="filter-container">
            <mat-button-toggle-group [value]="selectedFilters.timeRange" (change)="updateFilter('timeRange', $event.value)"
            [hideSingleSelectionIndicator]="true">
                <div class="filter-title">Climate Scenario</div>
                <mat-button-toggle value="historical">Historical</mat-button-toggle>
                <mat-button-toggle value="rcp45">RCP 4.5</mat-button-toggle>
                <mat-button-toggle value="rcp85">RCP 8.5</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div *ngIf="dataServiceName === 'sea_level'" class="filter-container">
            <mat-button-toggle-group [value]="selectedFilters.timeRange" (change)="updateFilter('timeRange', $event.value)"
            [hideSingleSelectionIndicator]="true">
                <div class="filter-title">Time period</div>
                <mat-button-toggle value="historical">Historical</mat-button-toggle>
                <mat-button-toggle value="future">Future</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group [value]="selectedFilters.model" (change)="updateFilter('model', $event.value)"
            [hideSingleSelectionIndicator]="true">
                <div class="filter-title">Model</div>
                <mat-button-toggle value="CMCC-CM2-VHR4">CMCC-CM2-VHR4</mat-button-toggle>
                <mat-button-toggle value="EC-Earth3P-HR">EC-Earth3P-HR</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div *ngIf="dataServiceName === 'atmospheric_data'" class="filter-container">
        <mat-button-toggle-group [value]="selectedFilters.variable"  (change)="updateFilter('variable', $event.value)"
        [hideSingleSelectionIndicator]="true">
            <div class="filter-title">Variable</div>
            <mat-button-toggle value="air_temperature" [disabled]="!activeTabs['air_temperature']">
                Air Temperature
            </mat-button-toggle>
            <mat-button-toggle value="wind_gusts" [disabled]="!activeTabs['wind_gusts']">
                Wind Gusts
            </mat-button-toggle>
            <mat-button-toggle value="wind_speed" [disabled]="!activeTabs['wind_speed']">
                Wind Speed
            </mat-button-toggle>
            <mat-button-toggle value="relative_humidity" [disabled]="!activeTabs['relative_humidity']">
                Relative Humidity
            </mat-button-toggle>
            <mat-button-toggle value="total_precipitation" [disabled]="!activeTabs['total_precipitation']">
                Total Precipitation
            </mat-button-toggle>
        </mat-button-toggle-group>
        <mat-button-toggle-group [value]="selectedFilters.statistic" (change)="updateFilter('statistic', $event.value)"
        [hideSingleSelectionIndicator]="true">
            <div class="filter-title">Statistic</div>
            <mat-button-toggle value="daily_min" [disabled]="!isTabEnabled(selectedFilters.variable, 'daily_min')">
                Daily Minimum
            </mat-button-toggle>
            <mat-button-toggle value="daily_max" [disabled]="!isTabEnabled(selectedFilters.variable, 'daily_max')">
                Daily Maximum
            </mat-button-toggle>
            <mat-button-toggle value="daily_sum" [disabled]="!isTabEnabled(selectedFilters.variable, 'daily_sum')">
                Daily Sum
            </mat-button-toggle>
            <mat-button-toggle value="daily_avg" [disabled]="!isTabEnabled(selectedFilters.variable, 'daily_avg')">
                Daily Average
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div *ngIf="dataServiceName === 'coastal_flooding'" class="filter-container">
        <mat-button-toggle-group [value]="selectedFilters.returnPeriod"  (change)="updateFilter('returnPeriod', $event.value)"
        [hideSingleSelectionIndicator]="true">
            <div class="filter-title">Return Period</div>
            <mat-button-toggle value="1">1 year</mat-button-toggle>
            <mat-button-toggle value="100">100 years</mat-button-toggle>
            <mat-button-toggle value="1000">1000 years</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-button-toggle-group [value]="selectedFilters.climateScenario"  (change)="updateFilter('climateScenario', $event.value)"
        [hideSingleSelectionIndicator]="true">
            <div class="filter-title">Climate Scenario</div>
            <mat-button-toggle value="None">None</mat-button-toggle>
            <mat-button-toggle value="SSP245">RCP4.5</mat-button-toggle>
            <mat-button-toggle value="SSP585">RCP8.5</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-button-toggle-group [value]="selectedFilters.timeRange"  (change)="updateFilter('timeRange', $event.value)"
        [hideSingleSelectionIndicator]="true">
            <div class="filter-title">Time Period</div>
            <mat-button-toggle value="2010">2010</mat-button-toggle>
            <mat-button-toggle value="2050">2050</mat-button-toggle>
            <mat-button-toggle value="2100">2100</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!-- <ngx-charts-line-chart
        *ngIf="!(dataServiceName === 'sea_level' || dataServiceName === 'wave_climate' || dataServiceName === 'coastal_change') || selectedFilters.frequency === 'monthly'"
        style="justify-content: center;" [view]="view" [results]="multi" [scheme]="colorScheme" [legend]="legend"
        [legendPosition]="below" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis"
        [yAxis]="yAxis" [yAxisLabel]="yAxisLabel" [timeline]="timeline">
    </ngx-charts-line-chart> -->
    <img [src]="chartImage" alt="Chart Image" class="chart-image">
    <div class="button-container">
        <button mat-raised-button color="primary" (click)="downloadCsv()" *ngIf="selectedFilters.frequency !== 'climatology' && dataServiceName !== 'coastal_flooding'"
         class="button-download">
            Download CSV
        </button>
        <button mat-raised-button style="background-color: #4caf50; color: white;" (click)="downloadTif()" *ngIf="dataServiceName == 'coastal_flooding'"
        class="button-download">
            Download TIFF
        </button>
        <button mat-raised-button color="accent" (click)="downloadJpg()" class="button-download">
            Download JPG
        </button>
    </div>
</div>