.map {
    width: 100%;
    flex: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 11.5vh); /* Subtract header (6vh) line (1vh) and footer (4vh) heights */
}

.map-frame {
    height: 100%;
    border: 2px solid black;
    display: flex; 
    gap: 20px; 
}

.image {
  position: absolute;
  right: 0;
  margin-right: 0.7em;
  top: 80px;
  height: 75vh;
  bottom: 3%;
  z-index: 500;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

#custom-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

 #citiesPanel {
  font-size: 1.3vh;
 }

.panel-container {
  position: absolute;
  top: 1%;
  left: 1%;
  z-index: 1000;
  width: auto;
  max-width: 50vw;
  margin: 0;
  padding: 0;
}

mat-accordion {
  display: flex;
  flex-direction: column;
}
mat-expansion-panel {
  margin-bottom: 8px;
}
mat-expansion-panel-header {
  font-size: 1.5vh;
  height: auto;
  margin: 1vw 0;
}
mat-panel-title {
  font-size: 1.5vh;
}
mat-panel-description {
  font-size: 1.5vh;
}
mat-form-field {
  font-size: 1.5vh;
}
mat-select {
  font-size: 1.5vh;
}
mat-label {
  font-size: 1.5vh;
}
mat-option {
  font-size: 1.5vh;
}
.checkbox-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.5vh;
}

.info-icon {
  margin-left: 10px;
  color: #1976d2;
  cursor: pointer;
  display: flex;
  align-items: left;
  margin-left: auto;
}

input.numbern::-webkit-outer-spin-button,
input.number::-webkit-inner-spin-button {
  display: none;
}

.chart-sidenav {
  width: 40%;
}

mat-tab-group {
  background-color: #faf9f9;
  opacity: 70%;
}

mat-drawer {
  display: flex;
  height: fit-content;
  max-height: 100vh;
}